<div class="container pull-left">
    <div class="row">
        <div class="col-sm-6">
            <form name="jstestForm" ng-submit="">
                <div class="error">
                    <p ng-bind="errorMessage"></p>
                </div>
                <div class="form-group">
                    <select ng-model="selected" ng-options="task for task in displayTasks" style="width:100px"></select>
                </div>
                <div class="form-group">
                    <input type="text" ng-model="value" placeholder="Value" style="width:100px"/>
                </div>
                <input type="submit" class="btn-primary" ng-click="JstestCtrl.onSubmit(selected, value)" ng-disabled="jstestForm.$invalid" />
            </form>
        </div>
        <div class="responseData col-sm-4" ng-if="JstestCtrl.table">
            <table ng-table="JstestCtrl.tableDataParams">
                <caption ng-if="JstestCtrl.hash">Hash(#{{JstestCtrl.requestNo}})</caption>
                <caption ng-if="JstestCtrl.counter">Counter(#{{JstestCtrl.requestNo}})</caption>
                <tr>
                    <th>Input</th>
                    <th>Output</th>
                </tr>
                <tr ng-repeat="data in JstestCtrl.tableData track by $index">
                    <td>{{data.input}}</td>
                    <td>{{data.output}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
